<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Controle de Gastos</title>
    <link rel="stylesheet" href="./login.css">
</head>

<body>
    <div class="container">
        <div class="login-box">
            <img src="../assets/logo.png" alt="Logo" class="logo">
            <h1>Controle de Gastos</h1>
            <form id="loginForm">
                <div class="input-group">
                    <label for="nomeUsuario">Nome de Usuário</label>
                    <input type="text" id="nomeUsuario" placeholder="Digite seu nome" required>
                </div>
                <button type="submit" class="login-button">Entrar</button>
            </form>
        </div>
    </div>
    <script type="module" src="../../src/pages/login.ts"></script>
</body>

</html>